<form action="/fight" >

  <input type="radio" id="p1r" name="p1" value="r">rock<br>
  <input type="radio" id="p1p" name="p1" value="p">paper<br>
  <input type="radio" id="p1s" name="p1" value="s">scissors<br>

  <input type="radio" id="p2r" name="p2" value="r">rock<br>
  <input type="radio" id="p2p" name="p2" value="p">paper<br>
  <input type="radio" id="p2s" name="p2" value="s">scissors<br>


  <button type="submit" name="button">Fight!</button>

</form>
